<div class="container">
    <h1>About Pomodoro Style Studying:</h1>
    
    <p>
        There are six steps in the original technique:
    </p>
    <ol type="1"> 
        <li>Decide on the task to be done.</li>
        <li>Set the pomodoro timer (traditionally to 25 minutes).</li>
        <li>Work on the task.</li>
        <li>End work when the timer rings and put a checkmark on a piece of paper.</li>
        <li>If you have fewer than four checkmarks, take a short break (3–5 minutes), then go to step 2.</li>
        <li> After four pomodoros, take a longer break (15–30 minutes), reset your checkmark count to zero, then go to step 1.</li>
    </ol>
  

<p>
The stages of planning, tracking, recording, processing and visualizing are fundamental to the technique. In the planning phase, tasks are prioritized by recording them in a "To Do Today" list. This enables users to estimate the effort tasks require. As pomodoros are completed, they are recorded, adding to a sense of accomplishment and providing raw data for subsequent self-observation and improvement.[1]

For the purposes of the technique, a pomodoro is the interval of time spent working.[1] After task completion, any time remaining in the Pomodoro is devoted to overlearning. Regular breaks are taken, aiding assimilation. A short (3–5 minutes) rest separates consecutive pomodoros. Four pomodoros form a set. A longer (15–30 minute) rest is taken between sets.[1][6]

A goal of the technique is to reduce the impact of internal and external interruptions on focus and flow. A pomodoro is indivisible; when interrupted during a pomodoro, either the other activity must be recorded and postponed (inform – negotiate – schedule – call back) or the pomodoro must be abandoned. 
</p>
(Exerpt from: <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Wikipedia</a>)

<h6>Created for OSU Beaverhacks Fall 2018. By Lauren Mackey, Tim Liu, and Hillary Dreikorn</h6>
</div>