<body id="classicalBody">

<div class="timer tall container">
    <h3 class="down col-md-offset-1"><span id="minutes"></span> <span id="seconds"></span></h3>
</div>

<div class="container">
    <button id="classicalButton" type="button" class="btn btn-outline-dark" onclick="loadTimer()">START STUDY TIME!</button>
</div>
</body>