<!--NAV BAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{Tomato-Timer + Music}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Themes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Classical</a>
          <a class="dropdown-item" href="#">LoFi Hip-hop</a>
          <a class="dropdown-item" href="#">Ambient</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Hello, productivity-seeker!</h1>
        <p class="lead">This is a pomodoro style timer, which plays music to motivate your studying.</p>
        <hr class="my-4">
        <p>Get started by clicking on a theme to set your study mood. Once you are there, press to start and get your productivity going!</p>
        <a class="btn btn-dark btn-lg" href="#" role="button">Classical</a>
        <a class="btn btn-info btn-lg" href="#" role="button">LoFi Hip-hop</a>
        <a class="btn btn-warning btn-lg" href="#" role="button">Ambient</a>
    </div>
</div>