<div class="container">
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Hello, productivity-seeker!</h1>
        <p class="lead">This is a pomodoro style timer, which plays music to motivate your studying.</p>
        <hr class="my-4">
        <p>Get started by clicking on a theme to set your study mood. Once you are there, press to start and get your productivity going!</p>
        <a class="btn btn-dark btn-lg" href="/classical" role="button">Classical</a>
        <a class="btn btn-info btn-lg" href="/lofi" role="button">LoFi Hip-Hop</a>
        <a class="btn btn-success btn-lg" href="/ambient" role="button">Ambient</a>
    </div>
</div>