body, html {
	height: 100%;
}

#classicalBody {
	background-image: url("https://bit.ly/2NugCkd");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

#classicalButton {
	color: white;
}

#lofiBody {
	background-image: url("https://bit.ly/2MW5ux0");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

#lofiButton {
	color: white;
}

#ambientBody {
	background-image: url("https://bit.ly/2wUxVAF");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	color: white;
}

#ambientButton {
	color: white;
}


.tall {
    height: 100px;
}

.down {
    margin-top: 5%;
}

#tomatoHome {
	width: 25%;
	margin: 0 auto;
	list-style: none;
	padding: 0px;
	background: repeating-linear-gradient(
    180deg,
    green 0%,
    green 5%,
    hsl(9, 100%, 64%) 5%,
    hsl(9, 100%, 64%) 33.3%,
    hsl(9, 100%, 84%) 33.3%,
    hsl(9, 100%, 84%) 66.6%,
    hsl(9, 100%, 44%) 66.6%,
    hsl(9, 100%, 44%) 100%
  );
  border-top-left-radius: 40%;
	border-top-right-radius: 40%;
	border-bottom-left-radius: 40%;
	border-bottom-right-radius: 40%;
}

.centered {
    text-align: center;
}

.section {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.btn-home {
	background-color: transparent;
	color: black;
}

.btn-blue {
    background-color: #778899;
    border-color: #778899;
}

#tomatoTop {
	background-color: transparent;
	font-size: 3.5em;
}

#tomatoMiddle {
	background-color: transparent;
	font-size: 3em;
}

#tomatoBottom {
	background-color: transparent;
	font-size: 4em;
}