body, html {
	height: 100%;
}

#classicalBody {
	background-image: url("https://bit.ly/2NugCkd");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

#classicalButton {
	color: white;
}

#lofiBody {
	background-image: url("https://bit.ly/2MW5ux0");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

#lofiButton {
	color: white;
}

#ambientBody {
	background-image: url("https://bit.ly/2wUxVAF");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	color: white;
}

#ambientButton {
	color: white;
}


.tall {
    height: 100px;
}

.down {
    margin-top: 5%;
}